<div ng-controller="formRenderedController">
    <!--Page titlte-->
    <div class="bg-light lter b-b wrapper-md ng-scope pageTitle">
        <h1 class="m-n font-thin h3">Available entities</h1>
    </div>

    <!--Preloading/ Not loading message placeholder-->
    <div ng-show="fetching">
        <div class="wrapper-md ng-scope">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Fetching...
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-md ng-scope" ng-hide="fetching">
                <!--A small title for users section-->
        <div class="panel panel-default">
            <div class="panel-heading">
                Search, Create or Update Entities
            </div>

        <!--A small title for users section-->
        <div class="panel panel-default">
            <div class="alert alert-info noFormsAlert" style="margin: 15px; font-weight: 500; text-align: center" ng-show="forms.length==0">There are no entities available yet.</div>

                             <!--Search section | The simple one-->
            <div class="panel-body b-b b-light">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input id="filter" type="text" class="form-control" ng-model="searchFilter.username"
                               placeholder="Search for...">
                        <span class="input-group-btn">
                                <button class="btn btn-primary" ng-click="startFilter()" type="button">Search</button>
                              </span>
                    </div>
                </div>
            </div>
            
            <!--Create new form button-->
            <div class="panel-body b-b b-light">
                <div class="col-lg-6" style="float: right">
                    <input style="float: right" class="btn btn-default btn-primary" ng-click="modalForm({})" type="button" value="Create new entity" ng-show="formsPermissions.add">
                </div>
            </div>

            <div ng-show="forms.length>0">
                <table class="table footable m-b-none default table-striped" data-filter="#filter" data-filtering="true" data-paging="true" data-sorting="true" data-page-size="5" data-limit-navigation="3" id="formsTable">

                    <thead>
                    <tr>
                        <th>Title</th>
                        <th data-hide="phone,tablet" data-sort-ignore="true">Description</th>
                        <th data-hide="phone,tablet">Date</th>
                        <th data-sort-ignore="true">Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="form in forms track by $index" class="footable-even" style="display: table-row;" redraw-table>
                        <td ng-class="{'font-bold': !form.answered }">{{form.title}}</td>
                        <td ng-class="{'font-bold': !form.answered}">{{form.description}}</td>
                        <td ng-class="{'font-bold': !form.answered}">{{humanReadableDate(form)}}</td>
                        <td>
                            <input type="button" class="btn btn-info btn-xs" ng-click="modalForm(form)" value="Answer" ng-hide="form.answered">
                            <input type="button" class="btn btn-info btn-xs" ng-click="modalForm(form)" value="Review" ng-show="form.answered && !form.modified">
                            <input type="button" class="btn btn-info btn-xs" ng-click="modalForm(form)" value="Edit" ng-show="form.answered && form.modified">
                        </td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr class="footable-row-detail">
                        <td colspan="5">
                            <div class="text-center hide-if-no-paging">
                                <ul class="pagination"></ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>
</div>